@media only screen and (max-width: 1024px) {
  body {
    background-color: white;
    transition: all 0.8s ease;
  }
  .main-header-hero {
    background-size: 500%;
    transition: all 1s ease;
  }
  .hidden-lg {
    display: none;
  }
  .main-header .menu-nav {
    display: none;
  }
  .main-header .button-actions {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hero-logo-container {
    margin-top: 60px;
    display: block;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo1 {
      width: 69px;
      height: 36px;
      object-fit: cover;
    }
    .logo2 {
      width: 90px;
      height: 30px;
      object-fit: cover;
    }
    .logo3 {
      width: 78px;
      height: 35px;
      object-fit: cover;
    }
    .logo4 {
      width: 36px;
      height: 36px;
      object-fit: cover;
    }
    .logo5 {
      width: 36px;
      height: 36px;
      object-fit: cover;
      opacity: 70%;
    }
  }
  .hero-image1 {
    max-width: 400px;
    top: 120%;
    left: 22%;
    @media screen and (max-width: 870px) {
      left: 15%;
    }
    @media screen and (max-width: 750px) {
      left: 10%;
    }
  }
  .hero-image2 {
    max-width: 650px;
    top: 113%;
    left: 4%;
    @media screen and (max-width: 870px) {
      left: -2%;
    }
    @media screen and (max-width: 750px) {
      left: -10%;
    }
  }
  .middle-page-background {
    margin-top: 420px;
    background-size: 0;
    min-height: 1700px;
  }
  .feature-section1 {
    margin-top: 0;
  }
  .feature-section1 .container-fluid {
    justify-content: center;
  }
  .feature-section1 .right-content-area .content-box {
    max-width: 100%;
    min-height: 150px;
    .big-text-title {
      max-width: 100%;
    }
  }
  .feature-section1 .left-content-area {
    display: none;
  }
  .section1-icon5 {
    display: none;
  }
  .section1-icon6 {
    display: block;
  }
  .feature-section2 .logo-partner {
    display: none;
  }
  .feature-section2 {
    margin-top: 57px;
  }
  .feature-section2 .main-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
    .right-col-img {
      background-image: url(assets/image\ 14.svg);
    }
    .left-col {
      margin-top: 0;
      .content-box {
        max-width: 100%;
        .big-text-title {
          max-width: 100%;
        }
      }
    }
  }
  .feature-section3 {
    top: 0;
    margin-top: 33px;
    .container-fluid {
      flex-direction: column;
      align-items: center;
      .right-col-content {
        margin-top: 41px;
        .content-box {
          max-width: 100%;
        }
      }
    }
  }
  .top-footer-cta {
    top: 0;
  }
  .feature-section4 {
    margin-top: 42px;
    .container-fluid {
      flex-direction: column-reverse;
      align-items: center;
      gap: 31px;
      .left-col-content {
        .content-box {
          max-width: 100%;
          .big-text-title {
            max-width: 100%;
          }
        }
      }
      .right-col-img {
        max-width: 70%;
        border-radius: 20px;
        background-size: cover;
      }
    }
  }
  .bottom-page-background {
    background-position: center;
    background-size: 500%;
    min-height: 520px;
    width: 100%;
  }
  .section5-icon {
    display: none;
  }
  .testimonial-section5 {
    min-height: 580px;
    .container-fluid {
      flex-direction: column;
      align-items: center;
      .left-col-content {
        margin: 51px 0 0 0;
        .content-box {
          min-height: 50px;
          margin: 0;
          .big-text-title {
            text-align: center;
          }
          .small-text-description {
            display: none;
          }
        }
      }
      .right-col-slides {
        margin-top: 74px;
        .main-slide {
          position: relative;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .dot-navigation-bar {
    margin-top: 42px;
    display: flex;
    gap: 4px;
  }
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 9999px;
  }
  .dark {
    background-color: #434472;
  }
  .light {
    background-color: #ffffff;
  }

  .main-footer {
    padding: 74px 0;
    .container-fluid {
      display: flex;
      justify-content: center;
    }
  }
  .bottom-footer-links {
    margin: 0;
    flex-direction: column;
    align-items: center;
    .column-links {
      margin: 48px 0 0 0;
      .title {
        text-align: center;
      }
      .text {
        text-align: center;
      }
    }
  }
  .column1-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .copyright-info {
    margin-top: 22px;
    flex-direction: row;
    gap: 11px;
    max-width: 100%;
    .top-box {
      margin: 0;
    }
    .bottom-box {
      margin: 0;
    }
  }
  .social-links {
    margin-top: 0;
  }
  .mobile-only {
    margin-top: 48px;
  }
}

@media only screen and (max-width: 660px) {
  .main-header-hero {
    height: 420px;
  }
  .hero-logo-container {
    margin-top: 34px;
    .logo1 {
      width: 26px;
      height: 13px;
      object-fit: cover;
    }
    .logo2 {
      width: 32px;
      height: 11px;
      object-fit: cover;
    }
    .logo3 {
      width: 25px;
      height: 12px;
      object-fit: cover;
    }
    .logo4 {
      width: 13px;
      height: 12px;
      object-fit: cover;
    }
    .logo5 {
      width: 13px;
      height: 13px;
      object-fit: cover;
    }
  }
  .header-logo {
    width: 21px;
    height: 23px;
  }
  .main-header {
    .logo-brand {
      .text {
        font-size: 20px;
      }
    }
  }
  .hero-section {
    .content-wrapper {
      .big-text-title {
        font-size: 38px;
      }
      .small-text-description {
        font-size: 14px;
      }
      .button-start {
        max-width: 160px;
        min-height: 40px;
        font-size: 14.58px;
      }
    }
  }
  .hero-image1 {
    max-width: 270px;
    top: 120%;
    left: 13%;
  }
  .hero-image2 {
    max-width: 315px;
    top: 125%;
    left: 8%;
  }
  .feature-section1 {
    .right-content-area {
      .content-box {
        .big-text-title {
          font-size: 24px;
        }
        .small-text-description {
          font-size: 16px;
          margin-top: 12px;
        }
        .link-more {
          font-size: 14px;
        }
      }
    }
  }
  .arrow {
    display: none;
  }
  .feature-section2 .main-content {
    .left-col {
      .content-box {
        min-height: 150px;
        .big-text-title {
          font-size: 24px;
        }
        .small-text-description {
          font-size: 14.61px;
          margin-top: 10px;
        }
        .link-more {
          font-size: 12.78px;
        }
      }
    }
    .right-col-img {
      height: 238px;
    }
  }
  .feature-section3 .left-col-img {
    max-width: 295px;
    min-height: 220px;
  }
  .feature-section3 .right-col-content {
    .content-box {
      min-height: 150px;
      .big-text-title {
        font-size: 24px;
      }
      .small-text-description {
        font-size: 14px;
      }
      .link-more {
        font-size: 12.78px;
      }
    }
  }
  .feature-section4 {
    .container-fluid {
      .right-col-img {
        min-height: 215px;
        max-width: 100%;
        border-radius: 0;
      }
      .left-col-content {
        .content-box {
          .big-text-title {
            font-size: 24px;
          }
          .small-text-description {
            font-size: 14px;
          }
          .link-more {
            font-size: 12px;
          }
        }
      }
    }
  }
  .bottom-page-background {
    .testimonial-section5 {
      .container-fluid {
        .left-col-content {
          .content-box {
            margin: 0;
            .big-text-title {
              font-size: 24px;
            }
          }
        }
        .right-col-slides {
          .main-slide {
            .infor-box {
              .text {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .middle-page-background {
    margin-top: 200px;
  }
  .column1-info .box {
    font-size: 27.64px;
  }
}