* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f3fa;
  font-family: "Be Vietnam pro";
}

.main-header-hero {
  position: relative;
  padding-top: 30px;
  background-image: url(assets/top-background.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100%;
  height: 776px;
}

.main-header {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .logo-brand {
  display: flex;
  gap: 8px;
  .text {
    color: white;
    font-weight: 600;
    font-size: 36px;
  }
}

.main-header .menu-nav {
  display: flex;
  gap: 38px;
  .text {
    color: white;
    font-weight: 400;
    font-size: 16px;
  }
}

.main-header .button-actions {
  display: flex;
  align-items: center;
  gap: 38px;
  color: white;
  .support {
    font-weight: 700;
    font-size: 16px;
  }
  .sign-in {
    background-color: #ffbc51;
    padding: 12px 40px;
    border-radius: 96px;
    font-weight: 700;
    font-size: 16px;
  }
}

.hamburger-menu {
  display: none;
}

.hero-section {
  max-width: 1200px;
  width: 95%;
  margin: 160px auto 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.hero-logo-container {
  display: none;
}

.hero-section .content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 445px;
  width: 100%;
  .big-text-title {
    color: white;
    font-weight: 800;
    font-size: 54.76px;
  }
  .small-text-description {
    color: white;
    font-weight: 400;
    font-size: 18.25px;
    margin-top: 18px;
  }
  .button-start {
    background-color: #798ac9;
    color: white;
    border-radius: 4px;
    margin-top: 38px;
    max-width: 200px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero-image1 {
  position: absolute;
  top: -50%;
  left: 25%;
  max-width: 881px;
  width: 100%;
  height: auto;
}
.hero-image2 {
  position: absolute;
  top: -47%;
  left: 8%;
  max-width: 1200px;
  width: 100%;
  height: auto;
}

.middle-page-background {
  background-image: url(assets/middle-background.png);
  position: relative;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50% 400px;
  /* background-color: red; */
  background-size: 200%;
  min-height: 1983px;
}

.feature-section1 {
  margin-top: 69px;
}

.feature-section1 .container-fluid {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.feature-section1 .left-content-area {
  margin-top: 121px;
  max-width: 607px;
  display: flex;
  gap: 45px;
  .left-box-group {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 60px;
    .feature-box::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 5px;
      height: 100%;
      background: linear-gradient(to bottom, #00b5d0, #5c0e62);
      border-radius: 4px 0 0 4px;
    }
    .feature-box {
      position: relative;
      background-color: white;
      border-radius: 4px;
      box-shadow: 7px 10px 50px 0 #e8e2f0;
      padding: 30px 30px 30px 50px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .top-info {
        display: flex;
        flex-direction: column;
        gap: 3px;
        .text {
          color: #5c5e6e;
          font-weight: 700;
          font-size: 22px;
        }
      }
      .bottom-desc {
        max-width: 200px;
        color: #756f6f;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  .right-box-group {
    display: flex;
    flex-direction: column;
    gap: 36px;
    .feature-box::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 5px;
      height: 100%;
      background: linear-gradient(to bottom, #00b5d0, #5c0e62);
      border-radius: 4px 0 0 4px;
    }
    .feature-box {
      position: relative;
      background-color: white;
      border-radius: 4px;
      box-shadow: 7px 10px 50px 0 #e8e2f0;
      padding: 30px 30px 30px 45px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .top-info {
        display: flex;
        flex-direction: column;
        gap: 3px;
        .text {
          color: #5c5e6e;
          font-weight: 700;
          font-size: 22px;
        }
      }
      .bottom-desc {
        max-width: 200px;
        color: #756f6f;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.feature-section1 .right-content-area {
  position: relative;
  .section1-icon5 {
    position: absolute;
    z-index: -10;
  }
  .content-box {
    margin: 42px 0 0 46px;
    max-width: 331px;
    min-height: 258px;
    .big-text-title {
      color: #857885;
      font-weight: 800;
      font-size: 40px;
      line-height: 129%;
      letter-spacing: 4%;
    }
    .small-text-description {
      color: #857885;
      font-weight: 700;
      font-size: 16px;
      line-height: 129%;
      letter-spacing: 4%;
      margin-top: 4px;
    }
    .link-more {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-top: 16px;
      .text {
        color: #5c0e62;
        font-weight: 800;
        font-size: 18px;
      }
      .arrow {
        width: 17.5px;
        height: 10px;
      }
    }
  }
}

.section1-icon6 {
  display: none;
  position: absolute;
  z-index: -10;
}

.feature-section2 {
  margin-top: 70px;
}

.feature-section2 .container-fluid {
  max-width: 1120px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.feature-section2 .logo-partner {
  max-width: 834px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2-logo1 {
  width: 66.54px;
  height: 35px;
  object-fit: cover;
}

.section2-logo2 {
  width: 81.27px;
  height: 28px;
  object-fit: cover;
}

.section2-logo3 {
  width: 65.27px;
  height: 31px;
  object-fit: cover;
}

.section2-logo4 {
  width: 32.41px;
  height: 31px;
  object-fit: cover;
}

.section2-logo5 {
  width: 32.5px;
  height: 32.5px;
  object-fit: cover;
}

.feature-section2 .main-content {
  display: flex;
  width: 95%;
  justify-content: flex-end;
  gap: 123px;
}

.feature-section2 .main-content .left-col {
  position: relative;
  margin-top: 57px;
  .section2-icon {
    position: absolute;

    z-index: 100;
    opacity: 0.6;
    @media screen and (max-width: 1024px) {
      z-index: -10;
      opacity: 1;
    }
  }
  .content-box {
    margin: 38px 0 0 42px;
    max-width: 302px;
    min-height: 213px;
    /* z-index: 0; */

    .top-text-label {
      color: #e23434;
      font-weight: 700;
      font-size: 12.78px;
      line-height: 129%;
      letter-spacing: 4%;
    }
    .big-text-title {
      color: #857885;
      font-weight: 800;
      font-size: 36.53px;
      line-height: 129%;
      max-width: 224px;
      margin-top: 4px;
    }
    .small-text-description {
      color: #857885;
      font-weight: 700;
      font-size: 14.61px;
      line-height: 129%;
      letter-spacing: 4%;
      margin-top: 4px;
    }
    .link-more {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-top: 16px;
      .text {
        color: #5c0e62;
        font-weight: 800;
        font-size: 18px;
      }
      .arrow {
        width: 17.5px;
        height: 10px;
      }
    }
  }
}

.feature-section2 .main-content .right-col-img {
  background-image: url(assets/section2-img.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
  max-width: 522px;
  width: 100%;
  height: 480px;
}

.purple-text {
  color: #5c0e62;
}

.section1-icon {
  width: 24px;
  height: 24px;
}

.feature-section3 {
  position: relative;
  top: -80px;
  z-index: 10;
}

.feature-section3 .container-fluid {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.feature-section3 .left-col-img {
  background-image: url(assets/section3-img1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 517px;
  width: 100%;
  min-height: 374px;
}

.feature-section3 .right-col-content {
  position: relative;
  margin-top: 90px;
  .section2-icon {
    position: absolute;
    z-index: -10;
  }
  .content-box {
    margin: 36px 0 0 42px;
    max-width: 302px;
    min-height: 213px;
    .top-text-label {
      color: #e23434;
      font-weight: 700;
      font-size: 12.78px;
      line-height: 129%;
      letter-spacing: 4%;
    }
    .big-text-title {
      color: #857885;
      font-weight: 800;
      font-size: 36.53px;
      line-height: 129%;
      letter-spacing: 4%;
      margin-top: 4px;
    }
    .small-text-description {
      color: #857885;
      font-weight: 700;
      font-size: 14.61px;
      line-height: 129%;
      letter-spacing: 4%;
      margin-top: 4px;
    }
    .link-more {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-top: 16px;
      .text {
        color: #5c0e62;
        font-weight: 800;
        font-size: 18px;
      }
      .arrow {
        width: 17.5px;
        height: 10px;
      }
    }
  }
}

.feature-section4 {
  margin-top: 8px;
}

.feature-section4 .container-fluid {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 167px;
}

.feature-section4 .left-col-content {
  position: relative;
  .section2-icon {
    position: absolute;
    z-index: -10;
    margin-left: 10px;
  }
  .content-box {
    margin: 40px 0 0 42px;
    max-width: 302px;
    min-height: 213px;
    .top-text-label {
      color: #e23434;
      font-weight: 700;
      font-size: 12.78px;
      line-height: 129%;
      letter-spacing: 4%;
    }
    .big-text-title {
      color: #857885;
      font-weight: 800;
      font-size: 36.53px;
      line-height: 129%;
      max-width: 202px;
      margin-top: 4px;
    }
    .small-text-description {
      color: #857885;
      font-weight: 700;
      font-size: 14.61px;
      line-height: 129%;
      letter-spacing: 4%;
      margin-top: 4px;
    }
    .link-more {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-top: 16px;
      .text {
        color: #5c0e62;
        font-weight: 800;
        font-size: 18px;
      }
      .arrow {
        width: 17.5px;
        height: 10px;
      }
    }
  }
}

.feature-section4 .right-col-img {
  background-image: url(assets/section4-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 700px;
  width: 100%;
  min-height: 352px;
}

.bottom-page-background {
  background-color: white;
  background-image: url(assets/bottom-background1.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 130%;
  min-height: 996px;
}

.testimonial-section5 {
  position: relative;
}

.testimonial-section5 .container-fluid {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.vector1 {
  position: absolute;
  top: -25%;
  left: -5%;
}

.vector2 {
  position: absolute;
  top: -25%;
  right: -6%;
}

.testimonial-section5 .left-col-content {
  margin: 492px 130px 0 110px;
  position: relative;
  .section5-icon {
    position: absolute;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    gap: 39px;
    max-width: 440px;
    min-height: 183px;
    margin: 49px 0 0 46px;
    .big-text-title {
      color: #ffffff;
      font-weight: 800;
      font-size: 40px;
      line-height: 129%;
      letter-spacing: 10%;
    }
    .small-text-description {
      color: #ffffff;
      font-weight: 700;
      line-height: 129%;
      letter-spacing: 4%;
    }
  }
}

.testimonial-section5 .right-col-slides {
  margin-top: 167px;
  position: relative;
  max-width: 623px;
  width: 100%;
  .main-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 75px;
    left: 0;
    gap: 40px;
    .infor-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 367px;
      width: 100%;
      .text {
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        line-height: 129%;
        letter-spacing: 4%;
        text-align: center;
      }
      .name {
        margin-top: 11.31px;
        color: #ffbc51;
        font-weight: 900;
        font-size: 21.12px;
        line-height: 129%;
        letter-spacing: 7.5%;
        text-transform: uppercase;
      }
      .role {
        margin-top: 5px;
        color: #ffbc51;
        font-weight: 700;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: 4%;
      }
    }
  }
}

.img2 {
  position: absolute;
  top: 0;
  left: 451px;
  right: 70px;
}

.img3 {
  position: absolute;
  top: 252px;
  left: 434px;
  right: 112px;
}

.img4 {
  position: absolute;
  right: 2px;
  top: 474px;
}

.img5 {
  position: absolute;
  top: 466px;
  left: 231px;
  right: 301px;
}

.main-footer {
  background-color: #210933;
  min-height: 689px;
}

.main-footer .container-fluid {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.top-footer-cta {
  position: relative;
  top: -96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 71px;
  background-color: #ffffff;
  height: 182px;
  max-width: 85%;
  margin: 0 97px 0 98px;
  border-radius: 10px;
  .box {
    position: relative;
    z-index: 10;
    color: #5c515c;
    font-weight: 800;
    font-size: 40px;
    line-height: 129%;
  }
  .button-try {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbc51;
    box-shadow: 0 4px 4px 0 #ffbc51;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
  }
}

.top-footer-icon {
  position: absolute;
  top: 14px;
  left: 8%;
}

.bottom-footer-links {
  max-width: 85%;
  margin: 90px 97px 0 98px;
  display: flex;
}

.column1-info {
  .logo-brand {
    display: flex;
    gap: 8px;
  }
  .box {
    color: #ffffff;
    font-weight: 600;
    font-size: 36px;
  }
}

.social-links {
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 32px;
  .ig {
    width: 30px;
    height: 30px;
  }
  .twit {
    width: 30px;
    height: 25px;
  }
  .in {
    width: 30px;
    height: 30px;
  }
}
.copyright-info {
  max-width: 153px;
  display: flex;
  flex-direction: column;
  align-items: end;
  .top-box {
    margin-top: 40px;
    display: flex;
    gap: 11px;
    .vector {
      width: 16px;
      height: 16px;
    }
    .text {
      color: #857885;
      font-weight: 700;
      font-size: 14px;
      line-height: 129%;
    }
  }
  .bottom-box {
    margin-top: 7px;
    color: #857885;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
  }
}

.column-links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 51px;
  .title {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
  }
  .main-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .text {
      color: #857885;
      font-weight: 700;
      font-size: 14px;
      line-height: 129%;
    }
  }
}

.box2-services {
  margin-left: 160px;
}

.box3-product {
  margin-left: 129px;
}

.box4-company {
  margin-left: 112px;
}
.mobile-only {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .main-header-hero {
    background-size: 110%;
    transition: all 0.8s ease;
  }
  .hero-section {
    margin-top: 100px;
  }
  .hero-image1 {
    max-width: 750px;
    transition: all 0.8s ease;
  }
  .hero-image2 {
    max-width: 1100px;
    transition: all 0.8s ease;
  }
  .testimonial-section5 .container-fluid {
    .left-col-content {
      margin-right: 50px;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .main-header-hero {
    height: 676px;
  }
  .hero-image1 {
    max-width: 650px;
  }
  .hero-image2 {
    max-width: 1000px;
  }
  .feature-section4 .container-fluid {
    gap: 70px;
  }
  .bottom-page-background {
    background-size: 140%;
  }

  .top-footer-icon {
    left: 5%;
  }
}

@media only screen and (max-width: 1150px) {
  .main-header-hero {
    height: 576px;
    transition: all 0.8s ease;
  }
  .hero-section {
    margin-top: 57px;
  }
  .hero-image1 {
    max-width: 500px;
    top: -35%;
    left: 30%;
  }
  .hero-image2 {
    max-width: 850px;
    left: 10%;
  }
  .feature-section1 .left-content-area {
    gap: 5px;
  }
  .feature-section2 .main-content {
    gap: 30px;
  }
  .feature-section4 .container-fluid {
    gap: 50px;
  }
  .feature-section4 .right-col-img {
    max-width: 600px;
    border-radius: 10px 0 0 10px;
  }
  .testimonial-section5 .container-fluid {
    .left-col-content {
      margin-right: 10px;
    }
  }
  .bottom-page-background {
    background-size: 160%;
  }
  .top-footer-cta {
    padding: 0 30px;
  }
  .top-footer-icon {
    left: 2%;
  }
  .box2-services {
    margin-left: 100px;
  }
  .box3-product {
    margin-left: 80px;
  }
}

.section-on-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}